<nav class="navbar navbar-inverse navbar-fixed-top" id="navy">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="#">Magic</a></li>
        <li><a href="#home">Home</a></li>
        <li><a href="#section2">Meet our students</a></li>
        <li><a href="#section3">Houses</a></li>
      </ul>
  </div>
</nav>

<div class="container-fluid" id="home">
  	<div class="row">
		<div class = "col-md-6 col-md-offset-3" id = "">
        <h1>Welcome to Hogwarts</h1>
            <%= image_tag "HogwartsCrest.png" %>
 		</div>
	</div>
 </div>

 <div class="container-fluid " id="section2">


  	<div class="row">

		<div class = "col-md-4"> 
			<div id="ron_w" class="center-block img-circle"></div>
			<p class="name"> Ron Weasley </p>
			<p class="house">Gryffindor</p>
			<p class="quote">“Sunshine, daisies, butter mellow, Turn this stupid, fat rat yellow.” </p>
		</div>

		<div class = "col-md-4">
			<div id="harry_p" class="center-block img-circle"></div>
			<p class="name">Harry Potter</p>
			<p class="house">Gryffindor</p>
			<p class="quote">"I say there are spots that don’t come off… Spots that never come off, d’you know what I mean."</p>
		</div>

		<div class = "col-md-4">
			<div id="her_g"  class="center-block img-circle"></div>
			<p class="name">Hermione Granger</p>
			<p class="house">Gryffindor</p>
			<p class="quote">"Books! And cleverness! There are more important things -- friendship and bravery." </p>
 		</div>

	</div>
 </div>

<div id="section3">

 <div class="container-fluid">


  	<div class="row">

		<div class = "col-md-6"> 
			<div id="Gryffindor" class="center-block"> </div>
			<p class="house">Gryffindor</p>
			<p class="quote">“ryffindor values courage, bravery, nerve, and chivalry. Its mascot is the lion, and its colours are scarlet and gold. ” </p>
		</div>

		<div class = "col-md-6">
			<div id="Slytherin" class="center-block "></div>
			<p class="house">Slytherin</p>
			<p class="quote">"Slytherin house values ambition, cunning, leadership, and resourcefulness; the Sorting Hat said in Harry Potter and the Philosopher's Stone that Slytherins will do anything to get their way."</p>
		</div>
	</div>
 </div>
 <div class="container-fluid">

  	<div class="row">

		<div class = "col-md-6">
			<div id="Hufflepuff"  class="center-block"></div>
			<p class="house">Hufflepuff</p>
			<p class="quote">"Hufflepuff values hard work, patience, justice, and loyalty. The house mascot is the badger, and canary yellow and black are its colours."" </p>
 		</div>

		<div class = "col-md-6">
			<div id="Ravenclaw"  class="center-block"></div>
			<p class="house">Ravenclaw</p>
			<p class="quote">"Ravenclaw values intelligence, creativity, learning, and wit. The house mascot is an eagle and the house colours are blue and bronze." </p>
 		</div>

	</div>
 </div>
</div
